/**
* APSJournal Custom Properties
**/

:root {
    --color-apsj-primary: rgb(128, 0, 0);
    --color-apsj-background-primary: rgba(128, 0, 0, 0.66);
    --color-apsj-background-primary-dark: rgba(100, 0, 0, 0.66);
    --color-apsj-border-primary: rgb(160, 0, 0);
    --color-apsj-border-primary-dark: rgb(140, 0, 0);

    --color-apsj-light-0: rgb(255, 255, 255);
    --color-apsj-light-1: rgb(238, 238, 238);
    --color-apsj-light-2: rgb(221, 221, 221);
    --color-apsj-light-3: rgb(204, 204, 204);
    --color-apsj-light-4: rgb(187, 187, 187);
    --color-apsj-light-5: rgb(170, 170, 170);
    --color-apsj-light-6: rgb(153, 153, 153);
    --color-apsj-light-7: rgb(136, 136, 136);
    --color-apsj-dark-7: rgb(119, 119, 119);
    --color-apsj-dark-6: rgb(102, 102, 102);
    --color-apsj-dark-5: rgb(85, 85, 85);
    --color-apsj-dark-4: rgb(68, 68, 68);
    --color-apsj-dark-3: rgb(51, 51, 51);
    --color-apsj-dark-2: rgb(34, 34, 34);
    --color-apsj-dark-1: rgb(17, 17, 17);
    --color-apsj-dark-0: rgb(0, 0, 0);

    --color-apsj-background-bonus: rgba(7, 103, 144, 0.66);
    --color-apsj-background-effect: rgba(52, 26, 255, 0.66);
    --color-apsj-background-info: rgba(18, 69, 170, 0.66);
    --color-apsj-background-loot: rgba(0, 128, 0, 0.66);
    --color-apsj-background-note: rgba(214, 150, 0, 0.66);
    --color-apsj-background-trap: rgba(255, 128, 0, 0.66);
    --color-apsj-background-warning: rgba(128, 0, 0, 0.66);

    --color-apsj-background-light-0: rgba(255, 255, 255, 0.75);
    --color-apsj-background-light-1: rgba(238, 238, 238, 0.75);
    --color-apsj-background-light-2: rgba(221, 221, 221, 0.75);
    --color-apsj-background-light-3: rgba(204, 204, 204, 0.75);
    --color-apsj-background-light-4: rgba(187, 187, 187, 0.75);
    --color-apsj-background-light-5: rgba(170, 170, 170, 0.75);
    --color-apsj-background-light-6: rgba(153, 153, 153, 0.75);
    --color-apsj-background-light-7: rgba(136, 136, 136, 0.75);
    --color-apsj-background-dark-7: rgba(119, 119, 119, 0.75);
    --color-apsj-background-dark-6: rgba(102, 102, 102, 0.75);
    --color-apsj-background-dark-5: rgba(85, 85, 85, 0.75);
    --color-apsj-background-dark-4: rgba(68, 68, 68, 0.75);
    --color-apsj-background-dark-3: rgba(51, 51, 51, 0.75);
    --color-apsj-background-dark-2: rgba(34, 34, 34, 0.75);
    --color-apsj-background-dark-1: rgba(17, 17, 17, 0.75);
    --color-apsj-background-dark-0: rgba(0, 0, 0, 0.75);

    --color-apsj-background-light-50: rgba(255, 255, 255, 0.5);
    --color-apsj-background-light-51: rgba(238, 238, 238, 0.5);
    --color-apsj-background-light-52: rgba(221, 221, 221, 0.5);
    --color-apsj-background-light-53: rgba(204, 204, 204, 0.5);
    --color-apsj-background-light-54: rgba(187, 187, 187, 0.5);
    --color-apsj-background-light-55: rgba(170, 170, 170, 0.5);
    --color-apsj-background-light-56: rgba(153, 153, 153, 0.5);
    --color-apsj-background-light-57: rgba(136, 136, 136, 0.5);
    --color-apsj-background-dark-57: rgba(119, 119, 119, 0.5);
    --color-apsj-background-dark-56: rgba(102, 102, 102, 0.5);
    --color-apsj-background-dark-55: rgba(85, 85, 85, 0.5);
    --color-apsj-background-dark-54: rgba(68, 68, 68, 0.5);
    --color-apsj-background-dark-53: rgba(51, 51, 51, 0.5);
    --color-apsj-background-dark-52: rgba(34, 34, 34, 0.5);
    --color-apsj-background-dark-51: rgba(17, 17, 17, 0.5);
    --color-apsj-background-dark-50: rgba(0, 0, 0, 0.5);

    --color-apsj-border-bonus: rgb(0, 136, 195);
    --color-apsj-border-effect: rgb(120, 103, 255);
    --color-apsj-border-info: rgb(1, 86, 255);
    --color-apsj-border-loot: rgb(0, 192, 0);
    --color-apsj-border-note: rgb(246, 190, 7);
    --color-apsj-border-trap: rgb(255, 160, 0);
    --color-apsj-border-warning: rgb(160, 0, 0);

    --color-apsj-theme-blue: rgba(18, 69, 170, 0.66);
    --color-apsj-theme-cyan: rgba(7, 103, 144, 0.66);
    --color-apsj-theme-green: rgba(0, 128, 0, 0.66);
    --color-apsj-theme-none: rgba(0, 0, 0, 0, 0.66);
    --color-apsj-theme-orange: rgba(255, 128, 0, 0.66);
    --color-apsj-theme-purple: rgba(52, 26, 255, 0.66);
    --color-apsj-theme-red: rgba(128, 0, 0, 0.66);
    --color-apsj-theme-yellow: rgba(214, 150, 0, 0.66);

    --font-apsj-awesome: 'FontAwesome';
    --font-apsj-bookinsanity: 'Bookinsanity', serif;
    --font-apsj-dungeon: 'DungeonDropCase', serif;
    --font-apsj-modesto: 'Modesto Condensed', 'Palatino Linotype', serif;
    --font-apsj-mreaves: 'MrEaves', serif;
    --font-apsj-scalysans: 'ScalySans', sans-serif;
    --font-apsj-scalycaps: 'ScalySansCaps', sans-serif;
    --font-apsj-signika: 'Signika', sans-serif;
}

/**
* Color Themes
**/

:root.blue {
    --color-apsj-primary: rgb(18, 69, 170);
    --color-apsj-background-primary: rgba(18, 69, 170, 0.75);
    --color-apsj-border-primary: rgb(1, 86, 255);
}

:root.cyan {
    --color-apsj-primary: rgb(7, 103, 144);
    --color-apsj-background-primary: rgba(7, 103, 144, 0.75);
    --color-apsj-border-primary: rgb(0, 136, 195);
}

:root.green {
    --color-apsj-primary: rgb(0, 128, 0);
    --color-apsj-background-primary: rgba(0, 128, 0, 0.75);
    --color-apsj-border-primary: rgb(0, 192, 0);
}

:root.none {
    --color-apsj-primary: rgb(0, 0, 0);
    --color-apsj-background-primary: rgba(255, 255, 255, 0);
    --color-apsj-border-primary: rgb(255, 255, 255);
}

:root.orange {
    --color-apsj-primary: rgb(255, 128, 0);
    --color-apsj-background-primary: rgba(255, 128, 0, 0.75);
    --color-apsj-border-primary: rgb(255, 160, 0);
}

:root.purple {
    --color-apsj-primary: rgb(52, 26, 255);
    --color-apsj-background-primary: rgba(52, 26, 255, 0.75);
    --color-apsj-border-primary: rgb(120, 103, 255);
}

:root.yellow {
    --color-apsj-primary: rgb(214, 150, 0);
    --color-apsj-background-primary: rgba(214, 150, 0, 0.75);
    --color-apsj-border-primary: rgb(246, 190, 7);
}

/**
* Core Style Overrides
**/

.editor-content table tbody tr td {
    padding: 0 15px;
}

.editor-content table tbody tr td:first-child {
    white-space: nowrap;
}

.editor-content blockquote {
    margin-bottom: 1.5em;
}

.editor-content {
    padding-right: 5px;
    overflow-x: hidden;
}

li > .entity-link {
    line-height: 1.75em;
}

table {
    width: 90%;
    margin: 1em 5%;
}

table thead,
table tfoot {
    color: var(--color-apsj-light-0);
    background: var(--color-apsj-background-primary);
    font-family: var(--font-apsj-scalycaps);
    font-weight: 700;
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
}

table thead a.hyperlink,
table tfoot a.hyperlink {
    color: var(--color-apsj-border-note);
}

tbody tr td {
    font-family: var(--font-apsj-scalysans);
    font-weight: 400;
}

a.entity-link,
a.content-link,
a.inline-roll {
    padding: 3px;
    color: var(--color-apsj-light-0);
    font-family: var(--font-apsj-scalysans);
    font-weight: 700;
    line-height: 1.5em;
    border: 1px solid var(--color-apsj-dark-0);
    border-radius: 0.35em;
    background: linear-gradient(
        var(--color-apsj-background-light-0),
        var(--color-apsj-background-dark-4)
    );
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
}

a.entity-link i,
a.content-link i,
a.inline-roll i {
    color: var(--color-apsj-light-0);
}

/**
* V10 Journal Overrides
**/

.sheet.journal-entry .pages-list .directory-item.active {
    background: var(--color-apsj-background-primary);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

.sheet.journal-entry .pages-list .directory-item.active:first-of-type {
    border-top: 1px solid var(--color-apsj-border-primary);
}

.sheet.journal-entry .pages-list .directory-item.active:last-of-type {
    border-bottom: 1px solid var(--color-apsj-border-primary-dark);
}

.sheet.journal-entry .pages-list .directory-item:not(.active) {
    background: var(--color-apsj-background-primary-dark);
}

.sheet.journal-entry .pages-list .directory-item:not(.active) {
    border-top: 1px solid var(--color-apsj-border-primary);
}

.journal-sheet .journal-header .title {
    font-family: var(--font-apsj-modesto);
    font-weight: 700;
    font-size: 4em;
    padding: 5px;
    height: 60px;
    color: var(--color-apsj-light-0);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    background: var(--color-apsj-background-primary);
}

/**
* Stylish Text
**/

.apsj-title {
    font-family: var(--font-apsj-modesto);
    font-weight: 700;
    font-size: 3em;
}

.sheet.journal-entry .journal-entry-page h1 {
    font-family: var(--font-apsj-modesto);
    font-weight: 700;
    font-size: 3em;
    border-bottom: 2px solid var(--color-apsj-border-primary-dark);
}

.apsj-h2 {
    font-family: var(--font-apsj-scalycaps);
    font-weight: 400;
    font-size: 1.5em;
}

.apsj-data {
    font-family: var(--font-apsj-scalysans);
    font-weight: 300;
    font-size: 1em;
}

/**
* Stylish Panels
**/

.apsj-panel {
    width: 90%;
    margin: 1em 5%;
    padding: 6px 8px;
    line-height: 20px;
    border-radius: 5px;
    background: var(--color-apsj-background-dark-0);
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
    color: var(--color-apsj-light-0);
    list-style: none;
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: 1.25em;
}

.apsj-panel::before {
    position: relative;
    margin-right: 8px;
    float: left;
}

.apsj-panel header {
    margin: 0;
    font-family: var(--font-apsj-scalycaps);
    font-weight: 700;
    font-size: 1.5em;
    font-variant: small-caps;
}

.apsj-panel header p {
    margin-top: 0;
}

.apsj-panel.apsj-bonus {
    background: var(--color-apsj-background-bonus);
    border: 2px solid var(--color-apsj-border-bonus);
}

.apsj-panel.apsj-bonus::before {
    content: '\f559';
}

.apsj-panel.apsj-effect {
    background: var(--color-apsj-background-effect);
    border: 2px solid var(--color-apsj-border-effect);
}

.apsj-panel.apsj-effect::before {
    content: '\f0d0';
}

.apsj-panel.apsj-info {
    background: var(--color-apsj-background-info);
    border: 2px solid var(--color-apsj-border-info);
}

.apsj-panel.apsj-info::before {
    content: '\f05a';
}

.apsj-panel.apsj-loot {
    background: var(--color-apsj-background-loot);
    border: 2px solid var(--color-apsj-border-loot);
}

.apsj-panel.apsj-loot::before {
    content: '\f51e';
}

.apsj-panel.apsj-note {
    background: var(--color-apsj-background-note);
    border: 2px solid var(--color-apsj-border-note);
}

.apsj-panel.apsj-note::before {
    content: '\f044';
}

.apsj-panel.apsj-trap {
    background: var(--color-apsj-background-trap);
    border: 2px solid var(--color-apsj-border-trap);
}

.apsj-panel.apsj-trap::before {
    content: '\f78c';
}

.apsj-panel.apsj-warning {
    background: var(--color-apsj-background-warning);
    border: 2px solid var(--color-apsj-border-warning);
}

.apsj-panel.apsj-warning::before {
    content: '\f06a';
}

/**
* Stylish Blocks
**/

.block {
    margin: 1em;
    padding: 1em;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.block-contents {
    display: flex;
    flex: 1;
    gap: 1em;
}

.block-contents > main {
    flex: 4;
}

.block-contents > aside {
    flex: 2;
}

.block h1 {
    font-family: var(--font-apsj-modesto);
    font-weight: 700;
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
}

.block h2,
.block h3,
.block h4,
.block h5,
.block h6 {
    font-family: var(--font-apsj-mreaves);
    font-weight: 700;
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
}

.block.card img,
.block.scroll img {
    border: none;
    height: 150px;
    width: auto;
}

.block.black-item img,
.block.blue-item img,
.block.green-item img,
.block.orange-item img,
.block.purple-item img,
.block.red-item img,
.block.yellow-item img {
    border: none;
    height: 180px;
    width: auto;
}

.block.card,
.block.purple-item {
    color: var(--color-apsj-light-0);
    border: 2px solid rgb(120, 103, 255);
    border-radius: 0.5em;
    background: url('../assets/purple-item-bg.webp') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/cards.webp) no-repeat center;
    min-height: 270px;
    min-width: 270px;
}

.apsj-purple-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/purple-item.webp) no-repeat center;
    min-height: 270px;
    min-width: 270px;
}

.block.card h1,
.block.card h2,
.block.card h3,
.block.card h4,
.block.card h5,
.block.card h6,
.block.purple-item h1,
.block.purple-item h2,
.block.purple-item h3,
.block.purple-item h4,
.block.purple-item h5,
.block.purple-item h6 {
    color: var(--color-apsj-light-0);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    border-bottom: 2px solid rgb(120, 103, 255);
}

.block.card .apsj-text,
.block.purple-item .apsj-text {
    color: var(--color-apsj-light-0);
}

.block.card hr,
.block.purple-item hr {
    color: var(--color-apsj-border-info);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    border-bottom: 2px solid rgb(120, 103, 255);
}

.block.card a.entity-link,
.block.card a.content-link,
.block.card a.inline-roll,
.block.purple-item a.entity-link,
.block.purple-item a.content-link,
.block.purple-item a.inline-roll {
    color: var(--color-apsj-light-0);
    border: 1px solid rgb(120, 103, 255);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
}

.block.card a.entity-link i,
.block.card a.content-link i,
.block.card a.inline-roll i,
.block.purple-item a.entity-link i,
.block.purple-item a.content-link i,
.block.purple-item a.inline-roll i {
    color: var(--color-apsj-background-light-0);
}

.block.card a:hover,
.block.purple-item a:hover {
    text-shadow: 0 0 8px var(--color-apsj-border-info);
}

.block.scroll,
.block.green-item {
    color: var(--color-apsj-light-0);
    border: 2px solid var(--color-apsj-border-loot);
    border-radius: 0.5em;
    background: url('../assets/green-item-bg.webp') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/scroll.webp) no-repeat center;
    min-height: 270px;
    min-width: 270px;
}

.apsj-green-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/green-item.webp) no-repeat center;
    min-height: 270px;
    min-width: 270px;
}

.block.scroll h1,
.block.scroll h2,
.block.scroll h3,
.block.scroll h4,
.block.scroll h5,
.block.scroll h6,
.block.green-item h1,
.block.green-item h2,
.block.green-item h3,
.block.green-item h4,
.block.green-item h5,
.block.green-item h6 {
    color: var(--color-apsj-light-0);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    border-bottom: 2px solid var(--color-apsj-border-loot);
}

.block.scroll .apsj-text,
.block.green-item .apsj-text {
    color: var(--color-apsj-light-0);
}

.block.scroll hr,
.block.green-item hr {
    color: var(--color-apsj-border-info);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    border-bottom: 2px solid var(--color-apsj-border-loot);
}

.block.scroll a.entity-link,
.block.scroll a.content-link,
.block.scroll a.inline-roll,
.block.green-item a.entity-link,
.block.green-item a.content-link,
.block.green-item a.inline-roll {
    color: var(--color-apsj-light-0);
    border: 1px solid var(--color-apsj-border-loot);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
}

.block.scroll a.entity-link i,
.block.scroll a.content-link i,
.block.scroll a.inline-roll i,
.block.green-item a.entity-link i,
.block.green-item a.content-link i,
.block.green-item a.inline-roll i {
    color: var(--color-apsj-background-light-0);
}

.block.scroll a:hover,
.block.green-item a:hover {
    text-shadow: 0 0 8px var(--color-apsj-border-loot);
}

.block.black-item {
    color: var(--color-apsj-light-0);
    border: 2px solid var(--color-apsj-light-7);
    border-radius: 0.5em;
    background: url('../assets/black-item-bg.webp') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-black-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/black-item.webp) no-repeat center;
    min-height: 270px;
    min-width: 270px;
}

.block.black-item h1,
.block.black-item h2,
.block.black-item h3,
.block.black-item h4,
.block.black-item h5,
.block.black-item h6 {
    color: var(--color-apsj-light-0);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    border-bottom: 2px solid var(--color-apsj-light-7);
}

.block.black-item .apsj-text {
    color: var(--color-apsj-light-0);
}

.block.black-item hr {
    color: var(--color-apsj-border-light);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    border-bottom: 2px solid var(--color-apsj-light-7);
}

.block.black-item a.entity-link,
.block.black-item a.content-link,
.block.black-item a.inline-roll {
    color: var(--color-apsj-light-0);
    border: 1px solid var(--color-apsj-light-7);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
}

.block.black-item a.entity-link i,
.block.black-item a.content-link i,
.block.black-item a.inline-roll i {
    color: var(--color-apsj-background-light-0);
}

.block.black-item a:hover {
    text-shadow: 0 0 8px var(--color-apsj-light-7);
}

.block.blue-item {
    color: var(--color-apsj-light-0);
    border: 2px solid var(--color-apsj-border-info);
    border-radius: 0.5em;
    background: url('../assets/blue-item-bg.webp') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-blue-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/blue-item.webp) no-repeat center;
    min-height: 270px;
    min-width: 270px;
}

.block.blue-item h1,
.block.blue-item h2,
.block.blue-item h3,
.block.blue-item h4,
.block.blue-item h5,
.block.blue-item h6 {
    color: var(--color-apsj-light-0);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    border-bottom: 2px solid var(--color-apsj-border-info);
}

.block.blue-item .apsj-text {
    color: var(--color-apsj-light-0);
}

.block.blue-item hr {
    color: var(--color-apsj-border-info);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    border-bottom: 2px solid var(--color-apsj-border-info);
}

.block.blue-item a.entity-link,
.block.blue-item a.content-link,
.block.blue-item a.inline-roll {
    color: var(--color-apsj-light-0);
    border: 1px solid var(--color-apsj-border-info);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
}

.block.blue-item a.entity-link i,
.block.blue-item a.content-link i,
.block.blue-item a.inline-roll i {
    color: var(--color-apsj-background-light-0);
}

.block.blue-item a:hover {
    text-shadow: 0 0 8px var(--color-apsj-border-info);
}

.block.orange-item {
    color: var(--color-apsj-light-0);
    border: 2px solid var(--color-apsj-border-trap);
    border-radius: 0.5em;
    background: url('../assets/orange-item-bg.webp') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-orange-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/orange-item.webp) no-repeat center;
    min-height: 270px;
    min-width: 270px;
}

.block.orange-item h1,
.block.orange-item h2,
.block.orange-item h3,
.block.orange-item h4,
.block.orange-item h5,
.block.orange-item h6 {
    color: var(--color-apsj-light-0);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    border-bottom: 2px solid var(--color-apsj-border-trap);
}

.block.orange-item .apsj-text {
    color: var(--color-apsj-light-0);
}

.block.orange-item hr {
    color: var(--color-apsj-border-trap);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    border-bottom: 2px solid var(--color-apsj-border-trap);
}

.block.orange-item a.entity-link,
.block.orange-item a.content-link,
.block.orange-item a.inline-roll {
    color: var(--color-apsj-light-0);
    border: 1px solid var(--color-apsj-border-trap);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
}

.block.orange-item a.entity-link i,
.block.orange-item a.content-link i,
.block.orange-item a.inline-roll i {
    color: var(--color-apsj-background-light-0);
}

.block.orange-item a:hover {
    text-shadow: 0 0 8px var(--color-apsj-border-trap);
}

.block.red-item {
    color: var(--color-apsj-light-0);
    border: 2px solid var(--color-apsj-border-primary);
    border-radius: 0.5em;
    background: url('../assets/red-item-bg.webp') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-red-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/red-item.webp) no-repeat center;
    min-height: 270px;
    min-width: 270px;
}

.block.red-item h1,
.block.red-item h2,
.block.red-item h3,
.block.red-item h4,
.block.red-item h5,
.block.red-item h6 {
    color: var(--color-apsj-light-0);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    border-bottom: 2px solid var(--color-apsj-border-primary);
}

.block.red-item .apsj-text {
    color: var(--color-apsj-light-0);
}

.block.red-item hr {
    color: var(--color-apsj-border-primary);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    border-bottom: 2px solid var(--color-apsj-border-primary);
}

.block.red-item a.entity-link,
.block.red-item a.content-link,
.block.red-item a.inline-roll {
    color: var(--color-apsj-light-0);
    border: 1px solid var(--color-apsj-border-primary);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
}

.block.red-item a.entity-link i,
.block.red-item a.content-link i,
.block.red-item a.inline-roll i {
    color: var(--color-apsj-background-light-0);
}

.block.red-item a:hover {
    text-shadow: 0 0 8px var(--color-apsj-border-primary);
}

.block.yellow-item {
    color: var(--color-apsj-light-0);
    border: 2px solid var(--color-apsj-border-note);
    border-radius: 0.5em;
    background: url('../assets/yellow-item-bg.webp') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-yellow-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/yellow-item.webp) no-repeat center;
    min-height: 270px;
    min-width: 270px;
}

.block.yellow-item h1,
.block.yellow-item h2,
.block.yellow-item h3,
.block.yellow-item h4,
.block.yellow-item h5,
.block.yellow-item h6 {
    color: var(--color-apsj-light-0);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    border-bottom: 2px solid var(--color-apsj-border-note);
}

.block.yellow-item .apsj-text {
    color: var(--color-apsj-light-0);
}

.block.yellow-item hr {
    color: var(--color-apsj-border-note);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    border-bottom: 2px solid var(--color-apsj-border-note);
}

.block.yellow-item a.entity-link,
.block.yellow-item a.content-link,
.block.yellow-item a.inline-roll {
    color: var(--color-apsj-light-0);
    border: 1px solid var(--color-apsj-border-note);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
}

.block.yellow-item a.entity-link i,
.block.yellow-item a.content-link i,
.block.yellow-item a.inline-roll i {
    color: var(--color-apsj-background-light-0);
}

.block.yellow-item a:hover {
    text-shadow: 0 0 8px var(--color-apsj-border-note);
}

.block.apsj-encounter {
    color: var(--color-apsj-light-0);
    border: 2px solid var(--color-apsj-border-warning);
    border-radius: 0.5em;
    background: url('../assets/parchment-bloody.webp') no-repeat;
    background-size: cover;
    box-shadow: 0 0 3px var(--color-apsj-dark-0);
}

.apsj-ra-icon,
.apsj-dialogue-icon-left {
    float: left;
    margin: 0 8px 0 -25px;
}

.block.apsj-read-aloud {
    border: 2px solid var(--color-apsj-border-primary);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-50),
        var(--color-apsj-background-dark-54)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-ra-icon::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-primary);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f4ad';
}

.apsj-dialogue-icon-right {
    float: right;
    margin: 0 -25px 0 8px;
}

.block.apsj-dialogue-blue {
    border: 2px solid var(--color-apsj-border-info);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-50),
        var(--color-apsj-background-dark-54)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-dialogue-icon-left.blue::before,
.apsj-dialogue-icon-right.blue::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-border-info);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f075';
}

.block.apsj-dialogue-cyan {
    border: 2px solid var(--color-apsj-border-bonus);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-50),
        var(--color-apsj-background-dark-54)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-dialogue-icon-left.cyan::before,
.apsj-dialogue-icon-right.cyan::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-border-bonus);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f075';
}

.block.apsj-dialogue-green {
    border: 2px solid var(--color-apsj-border-loot);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-50),
        var(--color-apsj-background-dark-54)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-dialogue-icon-left.green::before,
.apsj-dialogue-icon-right.green::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-border-loot);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f075';
}

.block.apsj-dialogue-orange {
    border: 2px solid var(--color-apsj-border-trap);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-50),
        var(--color-apsj-background-dark-54)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-dialogue-icon-left.orange::before,
.apsj-dialogue-icon-right.orange::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-border-trap);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f075';
}

.block.apsj-dialogue-purple {
    border: 2px solid var(--color-apsj-border-effect);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-50),
        var(--color-apsj-background-dark-54)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-dialogue-icon-left.purple::before,
.apsj-dialogue-icon-right.purple::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-border-effect);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f075';
}

.block.apsj-dialogue-red {
    border: 2px solid var(--color-apsj-border-primary);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-50),
        var(--color-apsj-background-dark-54)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-dialogue-icon-left.red::before,
.apsj-dialogue-icon-right.red::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-border-primary);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f075';
}

.block.apsj-dialogue-yellow {
    border: 2px solid var(--color-apsj-border-note);
    border-radius: 0.5em;
    background: linear-gradient(
        var(--color-apsj-background-light-50),
        var(--color-apsj-background-dark-54)
    );
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-dialogue-icon-left.yellow::before,
.apsj-dialogue-icon-right.yellow::before {
    font-family: var(--font-apsj-awesome);
    font-weight: 900;
    font-size: xxx-large;
    color: var(--color-apsj-border-note);
    text-shadow: 1px 1px 2px var(--color-apsj-dark-0);
    content: '\f075';
}

/**
* Overlays
**/

.apsj-blue-overlay {
    margin: 0;
    padding: 10px;
    background: linear-gradient(
        var(--color-apsj-border-info),
        var(--color-apsj-background-info)
    );
    border: 2px solid var(--color-apsj-border-info);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-green-overlay {
    margin: 0;
    padding: 10px;
    background: linear-gradient(
        var(--color-apsj-border-loot),
        var(--color-apsj-background-loot)
    );
    border: 2px solid var(--color-apsj-border-loot);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-light-overlay {
    margin: 0;
    padding: 10px;
    color: var(--color-apsj-dark-0);
    background: linear-gradient(
        var(--color-apsj-background-light-50),
        var(--color-apsj-background-dark-54)
    );
    border: 2px solid var(--color-apsj-primary);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-light-overlay-bb {
    margin: 0;
    padding: 10px;
    background: linear-gradient(
        var(--color-apsj-background-light-50),
        var(--color-apsj-background-dark-54)
    );
    border: 2px solid var(--color-apsj-dark-0);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-orange-overlay {
    margin: 0;
    padding: 10px;
    background: linear-gradient(
        var(--color-apsj-border-trap),
        var(--color-apsj-background-trap)
    );
    border: 2px solid var(--color-apsj-border-trap);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-purple-overlay {
    margin: 0;
    padding: 10px;
    background: linear-gradient(
        var(--color-apsj-border-effect),
        var(--color-apsj-background-effect)
    );
    border: 2px solid var(--color-apsj-border-effect);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-red-overlay {
    margin: 0;
    padding: 10px;
    background: linear-gradient(
        var(--color-apsj-border-warning),
        var(--color-apsj-background-warning)
    );
    border: 2px solid var(--color-apsj-border-warning);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}

.apsj-yellow-overlay {
    margin: 0;
    padding: 10px;
    background: linear-gradient(
        var(--color-apsj-border-note),
        var(--color-apsj-background-note)
    );
    border: 2px solid var(--color-apsj-border-note);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--color-apsj-dark-0);
}
